<div class="flex h-full w-full flex-col bg-[#9b0504]">
  <div class="flex flex-grow justify-between">
    <div class="ml-14 flex items-center">
      <a href="">
        <img
          src="../images/347519313-1553408625211-logo_hust.jpg"
          alt="icon"
          style="width: 55px"
        />
      </a>
      <div class="ml-4 flex flex-col text-2xl uppercase text-white">
        <div>Trang thông tin quản lí lịch thi</div>
        <div>
          Đại học bách khoa Hà Nội - Trường công nghệ thông tin và truyền thông
        </div>
      </div>
    </div>
    <div class="mr-14 flex items-center justify-center">
      <button
        id="logout-button"
        class="rounded bg-gray-100 px-4 py-2 font-bold hover:bg-gray-300"
      >
        Logout
      </button>
    </div>
  </div>

  <nav
    class="justify-left flex h-12 items-center gap-5 space-x-8 bg-zinc-900 pl-14 text-xl font-bold uppercase text-white"
  >
    <a href="../admin/import.html" class="hover:text-red-600">import</a>

    <a href="../admin/search.html" class="hover:text-red-600">Tìm kiếm</a>

    <a href="../admin/class-statistics.html" class="hover:text-red-600"
      >Thống kê lớp</a
    >
    <a href="../admin/classroom-statistics.html" class="hover:text-red-600"
      >Thống kê phòng</a
    >
    <a href="../admin/room-statistics.html" class="hover:text-red-600"
      >Thống kê kíp</a
    >
  </nav>
</div>
